form {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;
  padding: 20px;
  background-color: var(--todo-bg);
  border-radius: 5px;
}

input {
  flex-grow: 1;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
}
