.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  font-size: var(--font-lg);
  text-transform: uppercase;
  letter-spacing: 5px;
}
