:root {
  --bright-blue: hsl(220, 98%, 61%);
  --vlight-gray: hsl(0, 0%, 98%);
  --dark-grayish-blue: hsl(236, 23%, 75%);
  --vdark-blue: hsl(235, 21%, 11%);
  --vdark-desat-blue: hsl(235, 24%, 19%);

  --main-clr: var(--vdark-desat-blue);
  --body-bg: var(--vlight-gray);
  --todo-bg: var(--dark-grayish-blue);

  --font-def: 16px;
  --font-lg: 32px;

  --transition: 0.2s ease-Out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--main-clr);
  font-size: var(--font-def);
  font-family: "Montserrat", sans-serif;
}

body.dark {
  --main-clr: var(--vlight-gray);
  --body-bg: var(--vdark-blue);
  --todo-bg: var(--vdark-desat-blue);
}

.todo-container {
  max-width: 568px;
  margin: 50px auto 0px;
  padding: 0px 32px;
}

i {
  width: 16px;
  cursor: pointer;
  transition: var(--transition);
}

i:hover {
  transform: scale(1.2);
}

ul {
  list-style-type: none;
}
